# --- BACKEND (Python) ---
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# --- FRONTEND (React/Node) ---
frontend/node_modules/
frontend/dist/

# --- SEGURIDAD ---
# Jamás subiremos nuestras contraseñas de base de datos a GitHub
backend/verb_swipe.db
.env